html,
body,
#root {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'source-code-pro';
    src: url('fonts/SourceCodePro-Bold.ttf');
}

body {
    margin: 0;
    font-family: 'source-code-pro', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}